.idea/
__pycache__
.env
*.json
*.7z
output

# Stadual data
data/AC
data/AL
data/AM
data/AP
data/BA
data/CE
data/DF
data/ES
data/GO
data/MA
data/MG
data/MS
data/MT
data/PA
data/PB
data/PE
data/PI
data/PR
data/RJ
data/RN
data/RO
data/RR
data/RS
data/SC
data/SE
data/SP
data/TO